.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn{
    padding: 5px 10px;
    color: white;
    background-color: gray;
    border:  2px solid wheat;
    border-radius: 7px;
    cursor: pointer;
}
.my-2{
    margin: 26px 0;
}
.text-crente{
    text-align: center;

}
